.chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.chat {
    width: 500px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 98%;
}

.chat-header {
    background-color: #0088cc;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Стили для сообщений */
.chat-messages {
    padding: 10px;
    overflow-y: auto;
    position: relative;
    margin-top: auto;
}

.message {
    display: flex;
    margin-bottom: 10px;
    max-width: 340px;
}

.message-content {
    max-width: 340px;
    padding: 4px 12px;
    border-radius: 5px;
    word-wrap: break-word;
}

.message-time {
    font-size: 12px;
    padding: 4px 12px;
    border-radius: 5px;
    text-align: right;
    color: #4b5563;
}

.message_user {
    display: flex;
    padding: 4px 12px;
    color: #0088cc;
    border-radius: 5px;
    font-weight: bold;
    width: fit-content;
}

.incoming {
    display: block;
    align-self: flex-start;
    background-color: #f2f2f9;
    border-radius: 10px 10px 0 10px;
    width: fit-content;
    margin-left: auto;
}

.outgoing {
    display: block;
    align-self: flex-end;
    background-color: #dad5e0;
    border-radius: 10px 10px 10px 0;
    width: fit-content;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    bottom: 0;
    height: 70px;
}

button {
    background-color: #0088cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px !important;
    margin: 5px !important;
}

button:hover {
    background-color: #0088cc;
    color: white;
}

textarea {
    flex: 1;
    padding: 10px !important;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none !important;
    overflow: hidden;
    height: 100%;
}


